
 .avatar{
    background-color: #f50f1ec7;
    border-radius: 10px;
    padding: 10px;
    color: white;
 }
 .avatar:hover{
   
    box-shadow: 0 0 10px rgba(0,0,0,0.5),
 }
 .cardShadow{
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}
.bgColor{
   background-color: #F5F7F8;
}
.text_color{
   color:#2f3645e5;
}
.sidebar_bg{
   background-color: #F8F4E1;
  
}

