          .chatbot-wrapper {
              position: fixed;
              bottom: 20px;
              /* Adjust as needed */
              right: 20px;
              /* Adjust as needed */
              z-index: 1000;
              margin-top: 0;
              /* Ensure it's on top of other content */
          }
          
          .beta-banner {
              position: fixed;
              right: 0;
              top: 0;
              width: 90px;
              z-index: 100;
          }
          
          @media (max-width: 768px) {
              .chatbot-wrapper {
                  display: none;
              }
          }
          
          .invoice {
              max-width: 100%;
              height: auto;
              background: #F5EFFF;
              padding: 50px 60px;
              position: relative;
              margin: 20px auto;
          }
          
          .w_15 {
              width: 10%;
          }
          
          .w_20 {
              width: 20%;
          }
          
          .in_background {
              background: #F5EFFF;
          }
          
          .hide-for-pdf .hide-element {
              display: none !important;
          }
          
          .w_50 {
              width: 50%;
          }
          
          .w_55 {
              width: 55%;
          }
          
          .p_title {
              font-weight: 700;
              font-size: 14px;
          }
          
          .i_row {
              display: flex;
          }
          
          .i_row_footer {
              display: flex;
              justify-content: space-between;
          }
          
          .invoice .header {
              margin-bottom: 30px;
          }
          
          .invoice .header .i_logo {
              width: 25%;
          }
          
          .invoice .header .i_logo img {
              width: 100%;
          }
          
          .invoice .header .i_logo p {
              font-size: 14px;
              font-weight: 700;
              margin-top: 10px;
          }
          
          .invoice .header .i_info {
              width: 80%;
          }
          
          .invoice .header .i_info .i_info_row {
              display: flex;
              justify-content: space-between;
          }
          
          .text_right {
              text-align: right;
          }
          
          .invoice .header .i_row {
              justify-content: space-between;
              margin-bottom: 30px;
          }
          
          .invoice .header .i_row:last-child {
              align-items: flex-end;
          }
          
          .invoice .header .i_row .i_logo p {
              font-family: "Redressed", cursive;
          }
          
          .invoice .header .i_row .i_logo p,
          .invoice .header .i_row .i_title h2 {
              font-size: 32px;
              line-height: 38px;
              color: var(--secondary-clr);
          }
          
          .invoice .header .i_row .i_address .p_title span {
              font-weight: 400;
              font-size: 12px;
          }
          
          .invoice .body .i_table .i_col p {
              font-weight: 700;
          }
          
          .invoice .body .i_table .i_row .i_col {
              padding: 7px 5px;
          }
          
          .invoice .body .i_table .i_table_head .i_row {
              border: 1px solid;
              border-radius: 5px;
              border-color: var(--primary-clr) transparent var(--primary-clr) transparent;
          }
          
          .invoice .body .i_table .i_table_body .i_row:last-child {
              border-bottom: 2px solid var(--primary-clr);
          }
          
          .invoice .body .i_table .i_table_foot .grand_total_wrap {
              margin-top: 20px;
          }
          
          .invoice .body .i_table .i_table_foot .grand_total_wrap .grand_total {
              background: #FFDC7F;
              padding: 5px;
              border-radius: 10px;
          }
          
          .invoice .body .i_table .i_table_foot .grand_total_wrap .grand_total p {
              display: flex;
              justify-content: space-between;
          }
          
          .invoice .footer {
              margin-top: 30px;
              margin-bottom: 30px;
          }
          
          .invoice .footer .i_row .i_col p {
              font-weight: 400;
              font-size: 12px;
          }
          
          .bottom_line {
              width: 100%;
              height: 20px;
              background: var(--primary-clr);
              position: absolute;
              left: 0;
              bottom: -20px;
          }
          
          .top_line {
              width: 100%;
              height: 20px;
              background: var(--primary-clr);
              position: absolute;
              left: 0;
              top: -20px;
          }
          
          .avatar {
              background-color: #f50f1ec7;
              border-radius: 10px;
              padding: 10px;
              color: white;
          }
          
          .avatar:hover {
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
          }
          
          .cardShadow {
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          }
          
          .bgColor {
              background-color: #F5F7F8;
          }
          
          .text_color {
              color: #2f3645e5;
          }
          
          .sidebar_bg {
              background: linear-gradient(to bottom, white 20%, #E5D9F5 60%, #D7C3F1 100%);
          }
          
          .active-tab {
              background-color: lightblue !important;
          }
          
          .bgGradinet {
              background: #A770EF;
              /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
              /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);
              /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }
          
          .MyInput {
              font-family: sans-serif;
              text-align: center;
              background-color: #f3f3f3;
              padding: 20px;
          }
          
          .bg_Color_campaign {
              background-color: #F5EDED;
          }
          
          .btn_dw {
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
          }
          
          .Down_pdf_Temp {
              background-color: rgb(255, 17, 0);
              color: white;
              border-radius: 5px;
              padding: 10px;
              margin-top: 20px;
          }
          
          .Down_pdf_Temp:hover {
              background-color: #f50f1ec7;
          }
          
          .bg_color_Email {
              background-color: #E85C0D;
              color: black;
          }
          
          @keyframes slideInFromLeft {
              0% {
                  transform: translateX(-100%);
                  opacity: 0;
              }
              100% {
                  transform: translateX(0);
                  opacity: 1;
              }
          }
          
          .form-animation {
              animation: slideInFromLeft 1s ease-out forwards;
              /* Adjust timing and easing as needed */
          }